[Desktop Entry]
Name=WiFi Analyzer
Comment=WiFi Network Analysis Tool
Exec=wifi-analyzer
Icon=io.github.yeager.WifiAnalyzer
Terminal=false
Type=Application
Categories=Network;GTK;
Keywords=wifi;wireless;network;analyzer;channel;
